.entry {
    padding: 2%;
}

.entry-title {
    margin-top: 10px;
    margin-bottom: 3px;
}
.entry-subtitle {
    height: 2rem;
    margin-bottom: 30px;
}
.entry-links {
    margin-bottom: 15px;
}

.entry-link {
    margin: 10px;
}
