* {
    margin: 0;
    padding: 0;
}

body {
    width: 95%;
    max-width: 900px;
    margin: auto;

    background-color: rgb(230, 230, 235);
    color: black;

    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: inherit;
}


.flex {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
}
.flex-element {
    flex-basis: 40%;
    flex-grow: 1;
    margin: 1.5%;
}


.box {
    border: 1px rgba(60, 60, 60, 0.3) solid;
    border-radius: 20px;

    background-color: white;
}



h1 {
    font-size: 75px;
}
h2 {
    font-size: 24px;
    font-weight: normal;
}
h3 {
    font-size: 40px;
    font-weight: normal;
}

@media (max-width: 600px) {
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 32px;
    }
    body {
        font-size: 16px;
    }
}
